*{
    margin: 0;
    padding: 0;
}


#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    
}
.style{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
h1{
    margin-left: 2.6em;
}
.button-container{
    margin-top:10px ;
}
.btn{
    
    padding: 10px;
    border-radius:5px;
    font-size: 15px;
    font-weight: 300;
    border-color: aliceblue;
}
.btn:nth-of-type(1){
    background-color:rgb(88, 209, 209) ;
    color: white;
  
}
.btn:nth-of-type(2){
    background-color:rgb(66, 66, 164) ;
    color: white;
}
.btn:nth-of-type(3){
    background-color:rgb(228, 71, 71) ;
    color: white;
}

#ping{
    border-radius: 30px;
}
.card{
  box-shadow: 0 5px 5px;
}
.card:hover{
    box-shadow: 0 8px 5px;
}
.value{
    margin: 20px 0;
}
.winner{
    color: green;
}
.loser{
    color:red;
}
.disable{
opacity :0.4;
}
