<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Book</title>
</head>
<body>
    <form action="/products" method="post">
        <label for="name">Book Name</label>
        <input type="text" name="name" id="name" placeholder="book name">
        <label for="author">Book author</label>
        <input type="text" name="author" id="author" placeholder="book author">
        <label for="price">Price</label>
        <input type="number" id="price" name="price">
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="20" rows="5"></textarea>
        <label for="select">Category</label>
        <select name="category" id="select">
            <% for(category of categories) { %>
                <option value="<%= category %>"><%= category %></option>
                <% }  %>
        </select>
        <button>submit</button>
    </form>
</body>
</html>